#navBar {
    height: 70px;
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: rgba(240, 248, 255, 0.84);
    font-size: calc(10px + 2vmin);
    font-family: 'Quicksand', sans-serif;
    border-bottom: solid rgba(255, 255, 255, 0.568) 2px;
}

#navBar a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
}

#navBar a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#linksContainer {
    position: absolute;
    bottom: 8px;
    left: 8px
}

.links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.modalInfo {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.543);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: visible;
}

#infoWindow {
    min-width: 350px;
    min-height: 450px;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.719);
    background-color: cornsilk;
    margin: 0 auto;
}