#navBar {
    height: 70px;
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: aliceblue;
    font-size: calc(10px + 2vmin);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#navBar a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
}

#navBar a:hover{
    color: Silver;
    text-decoration: none;
}

#linksContainer{
    position: absolute;
    bottom: 0px;
    
}

#links{
    text-align: center;
}