#projectBox{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: center;
}

.linkButtons {
    color: white;
    font-size: 14px;
    background-color: black;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#cardLinks{
    display: flex;
    justify-content: space-between;
}

#pBContainer {
    width: 220px;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px black;
    border: 2px solid rgb(0, 0, 0);
}
#title {
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    font-weight: bold;
}

#text {
    font-size: medium;
    padding: 10px;
    color: dimgray;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    border-radius: 0px 0px 20px 20px;
}
#type {
    background-color: black;
    width: 80px;
    border-radius: 5px 0px 0px 5px;
    position:relative;
    left:-8px;
    font-size: 20px;
}
#image img{
    width: 100%;
    height: 120px;
}
.swipeContainer {
    width: 80vw;
    border: 2px solid rgb(0, 0, 0);
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 4px 10px #000000cb;
}