#aboutProjects {
    background-color: rgba(255, 255, 255, 1);
    font-size: medium;
    padding: 8px;
    border-radius: 10px;
    width: 60px;
    position: relative;
    bottom: 20px;
    pointer-events: none;
    margin: 0 auto;
}

.workParent {
    padding-top: 80px;
}

.swipeContainer {
    width: 80vw;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.318);
    border-radius: 20px;
    box-shadow: inset 0px 2px 10px #00000090;
    cursor: grab;
    height: 340px;
}

.swipeContainer2 {
    width: 80vw;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 20px;
    min-height: 340px;
    padding: 20px;
    margin-bottom: 40px;
}

.dragPic {
    width: 40px;
    opacity: 0.50;
}

@media (min-width: 1495px) {

    .swipeContainer {
        width: 1210px;
        margin: 0 auto;
        cursor: default;
    }

    .swipeContainer2 {
        width: 1210px;
        margin: 0 auto;
        cursor: default;
        min-height: 340px;
        margin-bottom: 40px;
    }

    #aboutProjects {
        display: none;
    }

    .swipeContainer {
        margin-bottom: 20px;
    }
}

.contactMe {
    padding-top: 20%;
    text-align: center;
}

.videoGallery img {
    border-radius: 20px;
    width: 240px;
    padding: 10px;
}

#projectBox {
    display: flex;
    flex-direction: row;
}

#siteInfo {
    padding: 10px 20px 0px 20px;
    font-size: large;
}