* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

p {
  padding: 0px;
}

.App {
  text-align: center;
  width: 100%;
  background: linear-gradient(-45deg, #EE7742, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

.fadeIn {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.content {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  transform: translate(0%, 180px);
}

.boxBox {
  border: 4px solid white;
  min-height: 60vh;
  min-width: 60vh;
}

@media (max-width: 550px) {
  .boxBox {
    min-height: 90vw;
    min-width: 90vw;
  }
}

.welcomeBox {
  background-image: url(./img/profile.png);
  background-size: cover;
}